{{ ansible_managed | comment }}

{% if item.method == 'static' %}
auto {{ item.name }}
iface {{ item.name }} inet static
  address {{ item.address }}
  netmask {{ item.netmask }}
{% if item.gateway is defined %}
  gateway {{ item.gateway }}
{% else %}
{% endif %}
{% if item.mtu is defined %}
  mtu {{ item.mtu }}
{% else %}
{% endif %}
{% if item.vlan_device is defined %}
  vlan-raw-device {{ item.vlan_device }}
{% else %}
{% endif %}
{% elif item.method == 'dhcp' %}
auto {{ item.name }}
iface {{ item.name }} inet dhcp
{% elif item.method == 'manual' %}
auto {{ item.name }}
iface {{ item.name }} inet manual
{% if item.mtu is defined %}
  mtu {{ item.mtu }}
{% else %}
{% endif %}
{% if item.vlan_device is defined %}
  vlan-raw-device {{ item.vlan_device }}
{% else %}
{% endif %}
{% endif %}